@charset "UTF-8";
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body,
p,
figure,
blockquote,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

input,
select,
button,
textarea {
  appearance: none;
  border: none;
  outline: 0;
  font: inherit;
}

label {
  display: block;
}

::placeholder {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --swiper-pagination-bottom: 0px;
  --swiper-pagination-bullet-size: 12px;
  --swiper-pagination-color: #212121;
}

* {
  box-sizing: border-box;
}

html.no-scroll {
  overflow: hidden;
}

body {
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto Condensed";
  color: #fffcf9;
  background-color: #212121;
}
body.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding-inline: 80px;
  margin: 0 auto;
}

.bg__top {
  background-image: url("./images/bg/gradient2.png");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
}

.bg__3 {
  background-image: url("./images/bg/bg3-tel.png");
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .bg__3 {
    background-image: url("./images/bg/bg3.png");
  }
}

.btn-rush {
  display: flex;
  width: 344px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  border: 3px solid var(--bordo, #8b1c00);
  background: var(--gradient-bordo, linear-gradient(90deg, #7e0f0e 0%, #f5bc6f 100%));
  color: var(--white, #fffcf9);
  /* Н6 */
  font-family: "Bebas Neue";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 114.286% */
  cursor: pointer;
  text-align: center;
}

.btn-add {
  width: 238px;
  margin: 0 auto;
  display: flex;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 5px;
  border: 3px solid var(--bordo, #8b1c00);
  background: var(--gradient-bordo, linear-gradient(90deg, #7e0f0e 0%, #f5bc6f 100%));
  color: var(--white, #fffcf9);
  font-family: "Bebas Neue";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 114.286% */
}

.footer__modal-title {
  font-family: "Bebas Neue";
  font-size: 30px;
  color: #212121;
  line-height: 40px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(27, 27, 27, 0.67);
  top: 0;
  left: 0;
  z-index: 4;
  transition: 0.2s linear;
  opacity: 0;
  visibility: hidden;
}
.popup .popup__body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
}
.popup .popup__content {
  background: var(--black, #212121);
  padding: 32px 24px;
  border-radius: 10px;
  color: black;
  position: relative;
}
.popup .popup__close {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
}
.popup .popup__title {
  color: var(--white, #fffcf9);
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 28px;
  line-height: 40px;
  margin-bottom: 20px;
}
.popup .popup__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.popup .popup__form input {
  padding: 12px;
  border-radius: 5px;
  background: var(--white, #fffcf9);
  color: var(--gray, #515351);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.popup .popup__form .btn-add {
  width: 100%;
  cursor: pointer;
}
.popup.active {
  visibility: visible;
  opacity: 1;
}

.footer__modal {
  text-align: left;
}
.footer__modal h4 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 8px;
}
.footer__modal p {
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 1rem;
}

.swal2-close:focus-visible {
  box-shadow: none;
}

.swal2-title {
  color: var(--white, #fffcf9);
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.footer {
  background: var(--black, #212121);
  color: var(--white, #fffcf9);
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.footer__wrapper {
  padding: 32px 16px;
}
@media screen and (min-width: 900px) {
  .footer__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 48px 80px;
  }
}
.footer__text {
  max-width: 1170px;
  margin: 0 auto 30px;
}
.footer__links {
  margin-bottom: 30px;
  display: flex;
  gap: 5px;
  justify-content: center;
}
.footer__link {
  transition: all 0.3s linear;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.footer__link:hover {
  border-bottom: 1px solid white;
}
.hero {
  position: relative;
}
@media screen and (min-width: 900px) {
  .hero {
    padding-bottom: 160px;
  }
}
.hero__bg {
  height: 100%;
  background-image: url("./images/bg/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  width: 100%;
}
.hero__message {
  padding: 16px;
  position: relative;
  background-color: #212121;
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  transition: all 1s linear;
  margin-top: -80px;
}
.hero__message.active {
  margin-top: 0;
  opacity: 1;
  visibility: visible;
}
.hero__message-text {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.hero__content {
  position: relative;
  margin: 0 auto;
  padding: 24px 16px 0;
  color: #212121;
  z-index: 3;
}
@media screen and (min-width: 900px) {
  .hero__content {
    padding: 24px 80px;
  }
}
.hero__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin-bottom: 28px;
}
.hero__logo {
  height: 44px;
}
.hero__perks {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero__perk {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__perk-title {
  font-family: "Bebas Neue";
  font-size: 32px;
  line-height: 40px;
  background: var(--linear-brown, linear-gradient(180deg, #212020 0%, #755326 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero__perk-description {
  color: #212121;
  text-align: center;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
}
.hero__info {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .hero__info {
    flex-direction: row;
    position: relative;
  }
}
.hero__texts {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
}
.hero__texts-small {
  color: var(--black, #212121);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.hero__texts-big {
  color: #8b1c00;
  font-family: "Bebas Neue";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 100% */
}
.hero__texts-list {
  display: flex;
  align-items: center;
  gap: 16px;
}
.hero__texts-list .elipse {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
  border-radius: 9px;
  background: #8b1c00;
}
.hero__texts-list--item {
  flex: 1;
  color: var(--black, #212121);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.hero__bottom {
  display: flex;
  gap: 10px;
}
.hero__bottom--imgmob {
  width: 150px;
  height: 370px;
  object-fit: cover;
}
@media screen and (min-width: 900px) {
  .hero__bottom--imgmob {
    display: none;
  }
}
.hero__bottom--imgdesc {
  display: none;
}
@media screen and (min-width: 900px) {
  .hero__bottom--imgdesc {
    display: block;
    position: absolute;
    right: -70px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.hero__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: #fffcf9;
}
@media screen and (min-width: 900px) {
  .hero__list {
    justify-content: center;
  }
}
.hero__item {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 900px) {
  .hero__item {
    gap: 20px;
    background-color: #212121;
    position: relative;
    padding: 24px 0 24px 24px;
    padding: 24px;
  }
  .hero__item:after {
    content: "";
    position: absolute;
    right: -120px;
    top: 0;
    height: 100%;
    border-right: 120px solid transparent;
    border-bottom: 120px solid #212121;
    z-index: -1;
  }
}
.hero__item--img {
  width: 36px;
  height: 36px;
  align-self: center;
}
@media screen and (min-width: 900px) {
  .hero__item--img {
    width: 56px;
    height: 56px;
  }
}
.hero__item--title {
  margin-bottom: 8px;
  color: var(--white, #fffcf9);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}
@media screen and (min-width: 900px) {
  .hero__item--title {
    font-size: 28px;
    line-height: 36px;
    font-weight: 400;
  }
}
.hero__item--description {
  color: var(--white, #fffcf9);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
@media screen and (min-width: 900px) {
  .hero__item--description {
    font-size: 20px;
    line-height: 28px;
  }
}
.hero__btn--tel {
  display: block;
  margin-top: 20px;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .hero__btn--tel {
    display: none;
  }
}
.hero__btn--desc {
  display: none;
}
@media screen and (min-width: 900px) {
  .hero__btn--desc {
    display: block;
    margin-top: auto;
  }
}

@media screen and (min-width: 900px) {
  .hero__content {
    max-width: 1440px;
    padding-top: 40px;
  }
  .hero__top {
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 80px;
  }
  .hero__perks {
    width: fit-content;
    gap: 40px;
  }
  .hero__perk-title {
    font-size: 64px;
    line-height: 80px;
  }
  .hero__perk-description {
    font-size: 28px;
    line-height: 40px;
  }
  .hero__message-text {
    font-size: 20px;
    line-height: 32px;
  }
  .hero__texts {
    max-width: 496px;
    gap: 16px;
    margin-bottom: 0;
  }
  .hero__texts-small {
    color: var(--black, #212121);
    /* Т1 */
    font-family: "Roboto Condensed";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
  }
  .hero__texts-big {
    color: var(--bordo, #8b1c00);
    /* H2 */
    font-family: "Bebas Neue";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 96px; /* 120% */
  }
  .hero__texts-list--item {
    color: var(--black, #212121);
    font-family: "Roboto Condensed";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
  }
}
.performance {
  position: relative;
}
.performance__wrapper {
  padding-inline: 16px;
  z-index: 2;
  position: relative;
}
@media screen and (min-width: 900px) {
  .performance__wrapper {
    padding-inline: 80px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.performance__bg {
  height: 100%;
  background-image: url("./images/bg/image2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  width: 100%;
}
.performance__title {
  padding-top: 48px;
  margin-bottom: 44px;
  color: #8b1c00;
  font-family: "Bebas Neue";
  font-size: 39px;
  line-height: 48px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  .performance__title {
    font-size: 125px;
    line-height: 160px;
    margin-bottom: 0;
    padding-top: 0;
    position: relative;
    top: -70px;
  }
}
.performance__container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 900px) {
  .performance__container {
    flex-direction: row;
    gap: 60px;
    padding-bottom: 162px;
  }
}
.performance__container .left {
  display: flex;
  gap: 30px;
}
@media screen and (min-width: 900px) {
  .performance__container .left {
    align-items: end;
    gap: 60px;
  }
}
@media screen and (min-width: 900px) {
  .performance__container .left__text {
    min-width: 347px;
  }
}
.performance__container .left__text--title {
  margin-bottom: 4px;
  color: #8b1c00;
  font-family: "Bebas Neue";
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
}
@media screen and (min-width: 900px) {
  .performance__container .left__text--title {
    font-size: 80px;
    line-height: 96px;
  }
}
.performance__container .left__text--description {
  color: #212121;
  font-family: "Bebas Neue";
  font-size: 32px;
  line-height: 40px;
}
@media screen and (min-width: 900px) {
  .performance__container .left__text--description {
    font-size: 40px;
    line-height: 48px;
  }
}
.performance__container .right {
  margin-block: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 900px) {
  .performance__container .right {
    margin-block: 0;
    gap: 20px;
  }
}
.performance__container .right__title {
  color: #fffcf9;
  font-family: "Bebas Neue";
  font-size: 32px;
  line-height: 40px;
}
@media screen and (min-width: 900px) {
  .performance__container .right__title {
    font-size: 40px;
    line-height: 48px;
  }
}
.performance__container .right .grid {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.performance__container .right .grid__row {
  display: flex;
  gap: 24px;
}
@media screen and (min-width: 900px) {
  .performance__container .right .grid__row {
    justify-content: space-between;
  }
}
.performance__container .right .grid__item {
  width: 50%;
}
@media screen and (min-width: 900px) {
  .performance__container .right .grid__item {
    max-width: 308px;
  }
}
.performance__container .right .grid__item--title {
  color: #fffcf9;
  font-family: "Bebas Neue";
  font-size: 96px;
  line-height: 96px;
}
.performance__container .right .grid__item--title span {
  margin-left: 8px;
  font-family: "Bebas Neue";
  font-size: 80px;
  line-height: 96px;
}
.performance__container .right .grid__item--progress {
  margin-block: 16px;
  height: 4px;
  display: flex;
}
.performance__container .right .grid__item--progress .white {
  border-radius: 10px 0px 0px 10px;
  background-color: #fffcf9;
}
.performance__container .right .grid__item--progress .bordo {
  flex: 1;
  border-radius: 0px 10px 10px 0px;
  background-color: #8b1c00;
}
.performance__container .right .grid__item--text {
  color: #212121;
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 900px) {
  .performance__container .right .grid__item--text {
    font-size: 20px;
    line-height: 28px;
  }
}
.performance__container .right__btn {
  display: none;
}
@media screen and (min-width: 900px) {
  .performance__container .right__btn {
    display: block;
  }
}

.string {
  width: 100%;
  height: 60px;
  position: relative;
  padding: 16px;
  background: #fffcf9;
  overflow: hidden;
}
@media screen and (min-width: 900px) {
  .string {
    height: 80px;
  }
}
.string__wrapper {
  display: flex;
}
@media screen and (min-width: 900px) {
  .string__wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }
}
.string__item {
  animation: string 5s linear infinite;
}
.string__item img {
  height: 28px;
  padding-inline: 4px;
}
@media screen and (min-width: 900px) {
  .string__item img {
    height: 44px;
    padding-inline: 27px;
  }
}

@keyframes string {
  0% {
    transform: translateZ(0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
.info {
  position: relative;
}
.info__bg {
  height: 100%;
  background-image: url("./images/bg/couple-tel.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  z-index: -1;
  width: 100%;
}
@media screen and (min-width: 900px) {
  .info__bg {
    background-image: url("./images/bg/couple-desc.png");
  }
}
.info__wrapper {
  padding: 40px 16px;
  position: relative;
  z-index: 3;
}
@media screen and (min-width: 900px) {
  .info__wrapper {
    padding: 56px 80px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.info__made {
  margin-bottom: 24px;
}
.info__made .made__img {
  width: 172px;
  height: 172px;
  margin-bottom: 24px;
}
.info__made .made__tm {
  margin-bottom: 4px;
  color: var(--bordo, #8b1c00);
  /* H4 */
  font-family: "Bebas Neue";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
}
.info__made .made__text {
  color: var(--black, #212121);
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}
@media screen and (min-width: 900px) {
  .info__made .made__text {
    max-width: 310px;
  }
}
.info__proposal {
  margin-bottom: 28px;
  position: relative;
}
@media screen and (min-width: 900px) {
  .info__proposal {
    display: flex;
    gap: 100px;
  }
}
.info .proposal__text {
  color: var(--black, #212121);
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.info .proposal__title {
  color: var(--bordo, #8b1c00);
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
  text-wrap: wrap;
  width: min-content;
}
@media screen and (min-width: 900px) {
  .info .proposal__title {
    text-wrap: nowrap;
  }
}
.info .proposal__description {
  color: var(--black, #212121);
  font-family: "Bebas Neue";
  font-size: 32px;
  line-height: 40px;
}
.info .proposal__info {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 8px;
  min-height: 240px;
}
.info .proposal__img {
  height: 212px;
  position: absolute;
}
@media screen and (min-width: 900px) {
  .info .proposal__img {
    display: none;
  }
}
.info .proposal__img--desc {
  display: none;
  width: 214px;
  height: 366px;
}
@media screen and (min-width: 900px) {
  .info .proposal__img--desc {
    display: block;
  }
}
.info .proposal__img--desc1 {
  scale: 0.9;
}
.info .proposal__img--desc2 {
  position: absolute;
  left: 90px;
}
.info .proposal__img--1 {
  top: 0;
  right: 42px;
}
.info .proposal__img--2 {
  bottom: 0;
  right: 0;
}
.info .inf__more-info {
  margin-top: 24px;
  margin-bottom: 16px;
}
@media screen and (min-width: 900px) {
  .info .inf__more-info {
    margin-top: 131px;
  }
}
.info .more__title {
  color: var(--bordo, #8b1c00);
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 900px) {
  .info .more__title {
    font-size: 80px;
    line-height: 96px;
  }
}
.info .more__description {
  margin-bottom: 20px;
  color: var(--black, #212121);
  font-family: "Bebas Neue";
  font-size: 32px;
  line-height: 40px;
}
@media screen and (min-width: 900px) {
  .info .more__description {
    font-size: 40px;
    line-height: 48px;
  }
}
.info .more__text {
  color: var(--white, #fffcf9);
  font-family: "Roboto Condensed";
  font-size: 16px;
  line-height: 24px;
}
@media screen and (min-width: 900px) {
  .info .more__text {
    color: var(--black, #212121);
    font-size: 20px;
    line-height: 28px;
  }
}
@media screen and (min-width: 900px) {
  .info .more__right {
    max-width: 528px;
  }
}
.info .medical__text {
  padding: 8px 16px;
  margin-bottom: 16px;
  border-radius: 3px;
  background: var(--bordo, #8b1c00);
  text-align: center;
}
@media screen and (min-width: 900px) {
  .info .medical__text {
    font-size: 20px;
    line-height: 24px;
  }
}
.info .medical__info {
  color: var(--white, #fffcf9);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
@media screen and (min-width: 900px) {
  .info .medical__info {
    color: var(--black, #212121);
    font-size: 20px;
    line-height: 28px;
  }
}
.info__string {
  width: calc(100% + 32px);
  left: -16px;
}
@media screen and (min-width: 900px) {
  .info__string {
    display: none;
  }
}

.order {
  position: relative;
}
.order__wrapper {
  position: relative;
  z-index: 3;
  padding: 24px 16px 40px;
}
@media screen and (min-width: 900px) {
  .order__wrapper {
    padding: 96px 80px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.order__container {
  padding: 16px;
  border-radius: 11px;
  border: 1px solid var(--black, #212121);
  background: var(--white, #fffcf9);
}
@media screen and (min-width: 900px) {
  .order__container {
    padding-inline: 0;
    padding-block: 24px;
  }
}
.order__title {
  margin-bottom: 16px;
  color: var(--bordo, #8b1c00);
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 900px) {
  .order__title {
    font-size: 128px;
    line-height: 140px;
    text-align: center;
  }
}
.order__text {
  margin-bottom: 28px;
  color: var(--black, #212121);
  font-family: "Bebas Neue";
  font-size: 32px;
  line-height: 40px;
}
@media screen and (min-width: 900px) {
  .order__text {
    text-align: center;
    font-size: 64px;
    line-height: 80px;
  }
}
.order .right__btn {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .order .right__btn {
    width: 344px;
    margin: 0 auto;
  }
}

.how {
  position: relative;
}
.how__wrapper {
  position: relative;
  z-index: 3;
  padding: 0 16px 40px;
}
@media screen and (min-width: 900px) {
  .how__wrapper {
    padding: 0 80px 40px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.how__wrapper--bot {
  padding-bottom: 41px;
}
@media screen and (min-width: 900px) {
  .how__wrapper--bot {
    padding-bottom: 96px !important;
  }
}
.how__wrapper .how__title {
  text-transform: uppercase;
  margin-bottom: 12px;
  color: var(--black, #212121);
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 900px) {
  .how__wrapper .how__title {
    text-align: center;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 17px;
  }
}
.how__wrapper .how__title span {
  color: var(--bordo, #8b1c00);
}
.how__wrapper .how__text {
  color: var(--black, #212121);
  line-height: 24px;
}
@media screen and (min-width: 900px) {
  .how__wrapper .how__text {
    font-size: 24px;
    line-height: 32px;
    max-width: 840px;
    text-align: center;
    margin: 0 auto;
  }
}
.how__wrapper--nolimits {
  border-radius: 10px;
  background: var(--black, #212121);
  padding-block: 32px;
}
@media screen and (min-width: 900px) {
  .how__wrapper--nolimits {
    max-width: 1280px;
    margin: 0 auto;
    border-radius: 11px;
    padding: 56px;
  }
}
.how .actions {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 900px) {
  .how .actions {
    gap: 32px;
  }
}
.how .action {
  color: var(--white, #fffcf9);
}
@media screen and (min-width: 900px) {
  .how .action {
    display: flex;
    gap: 32px;
  }
}
.how .action__img {
  margin-bottom: 16px;
  border-radius: 24px;
}
@media screen and (min-width: 900px) {
  .how .action__img {
    margin-bottom: 0;
  }
}
.how .action__img--mob {
  display: block;
}
@media screen and (min-width: 900px) {
  .how .action__img--mob {
    display: none;
  }
}
.how .action__img--desc {
  display: none;
}
@media screen and (min-width: 900px) {
  .how .action__img--desc {
    display: block;
  }
}
.how .action__header {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}
.how .action__title {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 32px;
}
.how .action__text1 {
  margin-bottom: 8px;
  line-height: 24px;
}
.how .action__text2 {
  font-weight: 700;
  line-height: 24px;
}
.how__btn {
  width: 100%;
  margin-top: 32px;
}
@media screen and (min-width: 900px) {
  .how__btn {
    width: 344px;
    margin: 40px auto 0;
  }
}
.how .steps {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 24px;
}
@media screen and (min-width: 900px) {
  .how .steps {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media screen and (min-width: 900px) {
  .how .step {
    max-width: 400px;
  }
}
.how .step__top {
  border-radius: 11px;
  overflow: hidden;
  background-color: #fffcf9;
  margin-bottom: 16px;
}
@media screen and (min-width: 900px) {
  .how .step__img {
    width: 100%;
  }
}
.how .step__name {
  padding: 16px;
  color: var(--black, #212121);
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 32px;
  font-weight: 400;
  line-height: 30px;
}
@media screen and (min-width: 900px) {
  .how .step__name {
    padding: 12px;
    font-size: 40px;
    line-height: 48px;
  }
}
.how .step__bottom {
  color: var(--black, #212121);
  line-height: 24px;
}

.junk {
  background: var(--white, #fffcf9);
}
.junk__wrapper {
  padding: 32px 16px;
}
@media screen and (min-width: 900px) {
  .junk__wrapper {
    max-width: 1440px;
    padding: 96px 80px;
    margin: 0 auto;
  }
}
.junk__title {
  margin-bottom: 12px;
  color: var(--black, #212121);
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
.junk__title span {
  color: var(--bordo, #8b1c00);
}
@media screen and (min-width: 900px) {
  .junk__title {
    max-width: 744px;
    margin: 0 auto 20px;
    text-align: center;
    font-size: 64px;
    line-height: 80px;
  }
}
.junk__text {
  color: var(--black, #212121);
  line-height: 24px;
}
@media screen and (min-width: 900px) {
  .junk__text {
    max-width: 956px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
}
.junk__columns {
  margin-block: 28px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media screen and (min-width: 900px) {
  .junk__columns {
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.junk__column {
  color: var(--black, #212121);
}
@media screen and (min-width: 900px) {
  .junk__column {
    max-width: 612px;
  }
}
.junk .column__img {
  border-radius: 11px;
  width: 100%;
}
.junk .column__title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
}
.junk .column__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.junk .column__item {
  display: flex;
  gap: 16px;
  align-items: center;
}
.junk .item__text {
  line-height: 24px;
}
.junk__btn {
  width: 100%;
  margin-top: 32px;
}
@media screen and (min-width: 900px) {
  .junk__btn {
    width: 344px;
    margin: 40px auto 0;
  }
}

.table {
  position: relative;
}
.table__bg {
  height: 100%;
  background-image: url("./images/bg/table-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  z-index: -1;
  width: 100%;
}
.table__wrapper {
  position: relative;
  z-index: 3;
  padding: 40px 16px;
}
@media screen and (min-width: 900px) {
  .table__wrapper {
    padding: 96px 80px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.table__title {
  color: var(--black, #212121);
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 900px) {
  .table__title {
    max-width: 1184px;
    margin: 0 auto;
    text-align: center;
    font-size: 64px;
    line-height: 80px;
  }
}
.table__title span {
  color: var(--bordo, #8b1c00);
}
.table__img {
  width: 100%;
  margin-bottom: 32px;
}
@media screen and (min-width: 900px) {
  .table__img {
    margin-bottom: 54px;
  }
}
.table__btn {
  width: 100%;
}
@media screen and (min-width: 900px) {
  .table__btn {
    width: 344px;
    margin: 0 auto;
  }
}

.ingredients__wrapper {
  padding: 32px 16px;
  background: var(--black, #212121);
}
@media screen and (min-width: 900px) {
  .ingredients__wrapper {
    padding: 96px 80px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.ingredients__title {
  margin-bottom: 8px;
  color: var(--white, #fffcf9);
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 900px) {
  .ingredients__title {
    margin-bottom: 16px;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
  }
}
.ingredients__sub-title {
  margin-bottom: 16px;
  color: var(--bordo, #8b1c00);
  font-family: "Bebas Neue";
  font-size: 32px;
  line-height: 40px;
}
@media screen and (min-width: 900px) {
  .ingredients__sub-title {
    margin-bottom: 97px;
    font-size: 64px;
    line-height: 80px;
    text-align: center;
  }
}
.ingredients__top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 16px;
}
@media screen and (min-width: 900px) {
  .ingredients__top {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 89px;
  }
}
.ingredients__bank {
  max-height: 344px;
  object-fit: contain;
}
@media screen and (min-width: 900px) {
  .ingredients__bank {
    order: 2;
    max-height: 462px;
    scale: 1.2;
  }
}
.ingredients__card {
  display: flex;
  padding: 24px;
  flex-direction: column;
  gap: 20px;
  border-radius: 6px;
  border: 1px solid var(--bordo, #8b1c00);
  background: var(--white, #fffcf9);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 900px) {
  .ingredients__card {
    max-width: 400px;
  }
}
@media screen and (min-width: 900px) {
  .ingredients__card--last {
    order: 3;
  }
}
.ingredients .card__title {
  color: var(--bordo, #8b1c00);
  font-family: "Bebas Neue";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 114.286% */
}
.ingredients .card__text {
  color: var(--black, #212121);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.ingredients .swiper-slide {
  height: auto;
}
.ingredients .ingredients__slide {
  min-height: 100%;
  padding: 24px;
  border-radius: 6px;
  border: 1px solid var(--bordo, #8b1c00);
  background: var(--white, #fffcf9);
  box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
}
.ingredients .item__logo {
  width: 100%;
  margin-bottom: 20px;
}
.ingredients .item__title {
  margin-bottom: 8px;
  color: var(--bordo, #8b1c00);
  font-family: "Bebas Neue";
  font-size: 28px;
  line-height: 32px;
}
@media screen and (min-width: 900px) {
  .ingredients .item__title {
    margin-bottom: 6px;
  }
}
.ingredients .item__text {
  color: var(--black, #212121);
  line-height: 24px;
}
.ingredients .swiper {
  margin-bottom: 40px;
}
.ingredients .slider__buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}
.ingredients .swiper-btn {
  width: 36px;
  height: 36px;
  stroke-width: 1px;
  stroke: var(--white, #fffcf9);
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s linear;
}
.ingredients .swiper-btn img {
  width: 100%;
  height: 100%;
}
.ingredients .swiper-btn:hover {
  background-color: grey;
}
.ingredients .swiper-prev {
  transform: rotate(180deg);
}
.protected {
  position: relative;
  color: var(--black, #212121);
}
.protected__wrapper {
  position: relative;
  z-index: 3;
  padding: 40px 16px;
}
@media screen and (min-width: 900px) {
  .protected__wrapper {
    padding: 96px 80px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 900px) {
  .protected__top {
    max-width: 920px;
    margin: 0 auto;
  }
}
.protected__title {
  margin-bottom: 8px;
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 900px) {
  .protected__title {
    margin-bottom: 16px;
    text-align: center;
    font-size: 80px;
    line-height: 96px;
  }
}
.protected__sub-title {
  margin-bottom: 12px;
  font-family: "Bebas Neue";
  font-size: 32px;
  line-height: 40px;
}
@media screen and (min-width: 900px) {
  .protected__sub-title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 40px;
    line-height: 38px;
  }
}
.protected__text {
  line-height: 24px;
}
@media screen and (min-width: 900px) {
  .protected__text {
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
}
.protected__img-container {
  display: flex;
  justify-content: center;
  margin: 40px auto;
}
.protected__message {
  margin-top: 12px;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 20px;
  line-height: 32px;
}

.reviews {
  background: var(--white, #fffcf9);
}
.reviews__wrapper {
  padding: 32px 16px 44px;
}
@media screen and (min-width: 900px) {
  .reviews__wrapper {
    padding: 96px 80px;
    max-width: 1440px;
    margin: 0 auto;
  }
}
.reviews__title {
  margin-bottom: 8px;
  color: var(--bordo, #8b1c00);
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 900px) {
  .reviews__title {
    margin-bottom: 16px;
    text-align: center;
    font-size: 80px;
    line-height: 96px;
  }
}
.reviews__sub-title {
  margin-bottom: 16px;
  color: var(--black, #212121);
  font-family: "Bebas Neue";
  font-size: 32px;
  line-height: 30px;
}
@media screen and (min-width: 900px) {
  .reviews__sub-title {
    margin-bottom: 24px;
    text-align: center;
    font-size: 40px;
    line-height: 48px;
  }
}
.reviews__text {
  color: var(--black, #212121);
  line-height: 24px;
}
@media screen and (min-width: 900px) {
  .reviews__text {
    max-width: 920px;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    line-height: 32px;
  }
}
.reviews__text span {
  font-weight: 700;
}
.reviews .review {
  display: flex;
  gap: 12px;
  padding-top: 32px;
}
.reviews .review .left {
  width: 120px;
  position: relative;
}
.reviews .review .left::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  top: -32px;
  right: -16px;
  background-image: url("./images/svg/scrip.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.reviews .review .left img {
  width: 100%;
  position: relative;
}
.reviews .review .right {
  flex: 1;
}
.reviews .review__text {
  margin-bottom: 16px;
  color: var(--black, #212121);
  line-height: 24px;
}
.reviews .review__details {
  display: flex;
  justify-content: space-between;
}
.reviews .review_stars {
  width: 80px;
}
.reviews .review__author {
  color: var(--black, #212121);
  line-height: 24px;
}
.reviews .swiper {
  margin-bottom: 32px;
}
@media screen and (min-width: 900px) {
  .reviews .swiper-wrapper {
    margin-bottom: 50px;
  }
}
.reviews .slider__buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 24px;
}
@media screen and (min-width: 900px) {
  .reviews .slider__buttons {
    display: none;
  }
}
.reviews .swiper-btn {
  width: 36px;
  height: 36px;
  stroke-width: 1px;
  stroke: var(--white, #fffcf9);
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s linear;
}
.reviews .swiper-btn img {
  width: 100%;
  height: 100%;
}
.reviews .swiper-btn:hover {
  background-color: grey;
}
.reviews .swiper-review-prev {
  transform: rotate(180deg);
}
.hero-c__container {
  position: relative;
  z-index: 3;
  padding: 28px 16px 40px;
  display: flex;
  gap: 36px;
}
@media screen and (min-width: 900px) {
  .hero-c__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 80px;
  }
}
.hero-c__container .hero-c__left {
  width: 100%;
}
.hero-c__container .buy__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (min-width: 900px) {
  .hero-c__container .buy__list {
    gap: 80px;
  }
}
.hero-c__container .buy__item {
  border-radius: 10px;
  border: 2px solid var(--black, #212121);
  background: var(--white, #fffcf9);
  overflow: hidden;
}
.hero-c__container .buy__item.active {
  background: var(--beg, #e1b170);
}
.hero-c__container .buy__item button {
  cursor: pointer;
}
.hero-c__container .item__super-header {
  padding: 8px;
  background: var(--green-gradient, linear-gradient(90deg, #58b132 0%, #f5bc6f 100%));
}
.hero-c__container .item__super-header p {
  text-align: center;
  color: var(--white, #fffcf9);
  font-family: "Roboto Condensed";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 114.286% */
}
.hero-c__container .item__header {
  display: flex;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
  background: var(--bordo, #8b1c00);
}
.hero-c__container .item__header p {
  color: var(--white, #fffcf9);
  font-family: "Roboto Condensed";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}
.hero-c__container .buy__content {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}
@media screen and (min-width: 900px) {
  .hero-c__container .buy__content {
    min-height: 215px;
    padding: 0 24px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.hero-c__container .bottles {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width: 900px) {
  .hero-c__container .bottles {
    max-width: 450px;
  }
}
.hero-c__container .bottle {
  width: 60%;
}
@media screen and (min-width: 900px) {
  .hero-c__container .bottle {
    width: fit-content;
  }
}
.hero-c__container .bottle img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 900px) {
  .hero-c__container .bottle img {
    object-fit: contain;
    height: 100%;
    scale: 1.2;
  }
}
.hero-c__container .plus {
  margin-inline: 5px;
  color: var(--black, #212121);
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
.hero-c__container .second-plus {
  display: none;
}
@media screen and (min-width: 900px) {
  .hero-c__container .second-plus {
    display: block;
  }
}
.hero-c__container .bonus {
  width: 50%;
}
@media screen and (min-width: 900px) {
  .hero-c__container .bonus {
    display: flex;
    align-items: center;
    width: auto;
  }
}
.hero-c__container .bonus img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 900px) {
  .hero-c__container .bonus img {
    width: 135px;
    height: 148px;
  }
}
.hero-c__container .VitaBoost {
  position: relative;
}
.hero-c__container .VitaBoost::before {
  content: "Energy strips";
  font-size: 14px;
  position: absolute;
  left: -70px;
  top: 50%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--black, #212121);
  background: var(--bordo-02, #dd9482);
}
.hero-c__container .VitaBoost::after {
  content: "";
  width: 40px;
  height: 54px;
  transform: rotate(-130deg);
  position: absolute;
  right: 0;
  background-image: url("./images/svg/arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: calc(50% - 40px);
}
@media screen and (min-width: 900px) {
  .hero-c__container .VitaBoost::before {
    top: -40px;
    right: 0;
    left: auto;
  }
  .hero-c__container .VitaBoost::after {
    transform: rotate(30deg);
    left: auto;
    top: -8px;
  }
}
.hero-c__container .NeuroVita {
  position: relative;
}
.hero-c__container .NeuroVita::before {
  content: "Is a useful vitamin for men";
  font-size: 14px;
  position: absolute;
  left: -150px;
  top: 12px;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid var(--black, #212121);
  background: var(--bordo-02, #dd9482);
}
.hero-c__container .NeuroVita::after {
  content: "";
  width: 40px;
  height: 54px;
  transform: scale(1, -1) rotate(-140deg);
  position: absolute;
  right: 0;
  background-image: url("./images/svg/arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  left: 0;
  top: calc(50% - 40px);
}
@media screen and (min-width: 900px) {
  .hero-c__container .NeuroVita::before {
    top: -40px;
    left: -20px;
    right: -20px;
  }
  .hero-c__container .NeuroVita::after {
    content: "";
    transform: rotate(30deg);
    right: 0;
    left: auto;
    top: -8px;
  }
}
.hero-c__container .price__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
}
.hero-c__container .item__price {
  display: flex;
  align-items: last baseline;
  color: var(--black, #212121);
  font-family: "Bebas Neue";
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 100% */
}
.hero-c__container .item__price span {
  color: var(--black, #212121);
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.hero-c__container .price__retail {
  color: var(--black, #212121);
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.hero-c__container .price__retail span {
  position: relative;
}
.hero-c__container .price__retail span:after {
  content: "";
  content: "";
  width: 120%;
  height: 2px;
  background-color: #515351;
  position: absolute;
  left: -5px;
  top: 50%;
}
.hero-c__container .hero-c__right {
  display: none;
}
@media screen and (min-width: 900px) {
  .hero-c__container .hero-c__right {
    max-width: 412px;
    display: flex;
    max-width: 412px;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
  }
}
.hero-c__container .hero-c__text {
  color: var(--black, #212121);
  font-family: "Roboto Condensed";
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 142.857% */
  text-transform: uppercase;
}
.hero-c__container .hero-c__title {
  color: var(--white, #fffcf9);
  /* H3 */
  font-family: "Bebas Neue";
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px; /* 125% */
}
.hero-c__container .hero-c__sub-title {
  color: var(--black, #212121);
  /* H4 */
  font-family: "Bebas Neue";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
}

.checkout-reviews {
  background: var(--black, #212121);
}
.checkout-reviews .checkout-reviews__wrapper {
  padding: 32px 16px;
}
@media screen and (min-width: 900px) {
  .checkout-reviews .checkout-reviews__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 96px 80px 144px;
  }
}
.checkout-reviews .checkout-reviews__title {
  margin-bottom: 24px;
  color: var(--white, #fffcf9);
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 900px) {
  .checkout-reviews .checkout-reviews__title {
    text-align: center;
    font-size: 80px;
    line-height: 96px;
  }
}
.checkout-reviews .checkout-reviews__item {
  display: flex;
  padding: 20px;
  align-items: flex-start;
  gap: 20px;
  border-radius: 4px;
  border: 1px solid var(--bordo, #8b1c00);
  background: #e8e8e8;
  height: auto;
}
.checkout-reviews .checkout-reviews__avatar {
  border-radius: 100px;
  border: 1px solid var(--black, #212121);
  overflow: hidden;
  min-width: 120px;
  min-height: 120px;
  max-height: 120px;
  max-width: 120px;
}
.checkout-reviews .checkout-reviews__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.checkout-reviews .checkout-reviews__info {
  display: flex;
  justify-content: space-between;
  margin-block: 12px;
  align-items: center;
}
.checkout-reviews .checkout-reviews__info p {
  color: var(--black, #212121);
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
.checkout-reviews .checkout-reviews__info span {
  color: var(--green, #06df3c);
  font-family: "Roboto Condensed";
  font-size: 14px;
  line-height: 20px;
}
.checkout-reviews .checkout-reviews__text {
  color: var(--black, #212121);
  font-family: "Roboto Condensed";
  font-size: 14px;
  line-height: 20px;
}
.checkout-reviews .slider__buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 16px;
}
@media screen and (min-width: 900px) {
  .checkout-reviews .slider__buttons {
    display: none;
  }
}
.checkout-reviews .swiper-btn {
  width: 36px;
  height: 36px;
  stroke-width: 1px;
  stroke: var(--white, #fffcf9);
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  transition: all 0.3s linear;
}
.checkout-reviews .swiper-btn img {
  width: 100%;
  height: 100%;
}
.checkout-reviews .swiper-btn:hover {
  background-color: grey;
}
.checkout-reviews .swiper-prev {
  transform: rotate(180deg);
}
@media screen and (min-width: 900px) {
  .checkout-reviews .swiper-wrapper {
    margin-bottom: 40px;
  }
}

.faq {
  position: relative;
}
.faq .faq__wrapper {
  position: relative;
  z-index: 3;
  padding: 40px 16px 52px;
}
@media screen and (min-width: 900px) {
  .faq .faq__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 96px 80px;
  }
}
.faq .faq__title {
  margin-bottom: 32px;
  color: var(--bordo, #8b1c00);
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 900px) {
  .faq .faq__title {
    margin-bottom: 40px;
    font-size: 80px;
    line-height: 96px;
  }
}
.faq .faq__questions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.faq .faq__question {
  padding: 16px;
  border-radius: 13px;
  background: var(--black, #212121);
}
.faq .faq__top {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
.faq .faq__top svg {
  cursor: pointer;
}
.faq .faq__text {
  color: var(--white, #fffcf9);
  font-family: "Bebas Neue";
  font-size: 20px;
  line-height: 32px;
}
.faq .faq__answer {
  max-height: 0;
  overflow: hidden;
  color: var(--white, #fffcf9);
  font-family: "Roboto Condensed";
  line-height: 24px;
  transition: 0.6s all linear;
}
.faq .faq__question.active .faq__answer {
  max-height: 300px;
  margin-top: 16px;
}
.faq .plus {
  opacity: 1;
  transition: opacity 0.2s linear;
}
.faq .faq__question.active .plus {
  opacity: 0;
}

.perks {
  background: var(--black, #212121);
}
.perks .perks__wrapper {
  padding: 32px 16px;
}
@media screen and (min-width: 900px) {
  .perks .perks__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 96px 80px 0;
  }
}
.perks .perks__title {
  margin-bottom: 32px;
  color: var(--bordo, #8b1c00);
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 900px) {
  .perks .perks__title {
    margin-bottom: 48px;
    text-align: center;
    background: var(--gradient-bordo, linear-gradient(90deg, #7e0f0e 0%, #f5bc6f 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 138px;
    line-height: 160px;
  }
}
.perks .perks__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 36px;
}
@media screen and (min-width: 900px) {
  .perks .perks__list {
    flex-direction: row;
    margin-bottom: 48px;
  }
}
.perks .perks__item {
  display: flex;
  gap: 16px;
  align-items: center;
}
@media screen and (min-width: 900px) {
  .perks .perks__item {
    width: 50%;
  }
}
.perks .item__img img {
  max-width: 108px;
}
@media screen and (min-width: 900px) {
  .perks .item__img img {
    max-width: 250px;
  }
}
.perks .item__title {
  color: var(--white, #fffcf9);
  font-family: "Bebas Neue";
  font-size: 28px;
  line-height: 32px;
}
@media screen and (min-width: 900px) {
  .perks .item__title {
    font-size: 40px;
    line-height: 48px;
  }
}
.perks .item__text {
  color: var(--white, #fffcf9);
  font-family: "Roboto Condensed";
  line-height: 24px;
}
@media screen and (min-width: 900px) {
  .perks .perks__icons img {
    width: 514px;
  }
}
@media screen and (min-width: 900px) {
  .perks .perks__icons {
    display: flex;
    justify-content: center;
  }
}

.hero-t__container {
  position: relative;
  z-index: 4;
  padding: 40px 10px;
}
@media screen and (min-width: 900px) {
  .hero-t__container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px 80px 0;
  }
}
.hero-t__container .hero-t__top {
  display: flex;
  justify-content: center;
  margin: 0 auto 40px;
}
@media screen and (min-width: 900px) {
  .hero-t__container .hero-t__top {
    justify-content: start;
    margin: 0 auto 74px;
  }
}
.hero-t__container .hero-t__bottom {
  padding: 24px 16px;
  border-radius: 12px;
  background: var(--gradient-bordo, linear-gradient(90deg, #7e0f0e 0%, #f5bc6f 100%));
  color: var(--white, #fffcf9);
}
@media screen and (min-width: 900px) {
  .hero-t__container .hero-t__bottom {
    max-width: 774px;
    margin: 0 auto;
    padding: 49px;
  }
}
.hero-t__container .hero-t__title {
  margin-bottom: 16px;
  text-align: center;
  font-family: "Bebas Neue";
  font-size: 40px;
  line-height: 48px;
}
@media screen and (min-width: 900px) {
  .hero-t__container .hero-t__title {
    text-align: left;
    font-size: 64px;
    line-height: 80px;
  }
}
.hero-t__container .hero-t__text {
  margin-bottom: 12px;
  font-family: "Roboto Condensed";
  line-height: 24px;
}
@media screen and (min-width: 900px) {
  .hero-t__container .hero-t__text {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
  }
}
.hero-t__container .hero-t__btn {
  background: var(linear-gradient(90deg, #7e0f0e 0%, #f5bc6f 100%));
  display: block;
  margin-top: 28px;
  width: 100%;
  padding: 12px 16px;
  text-align: center;
  border-radius: 5px;
  border: 3px solid #8b1c00;
  font-family: "Bebas Neue";
  font-size: 28px;
  line-height: 32px;
  transition: all 1s linear;
}
.hero-t__container .hero-t__btn:hover {
  background: #7e0f0e;
  border: 3px solid #f5bc6f;
}
@media screen and (min-width: 900px) {
  .hero-t__container .hero-t__btn {
    margin: 40px auto 0;
    max-width: 236px;
  }
}/*# sourceMappingURL=style.css.map */