.reviews {
  background: var(--white, #fffcf9);

  &__wrapper {
    padding: 32px 16px 44px;

    @media screen and (min-width: 900px) {
      padding: 96px 80px;
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: 8px;
    color: var(--bordo, #8b1c00);
    font-family: 'Bebas Neue';
    font-size: 40px;
    line-height: 48px;

    @media screen and (min-width: 900px) {
      margin-bottom: 16px;
      text-align: center;
      font-size: 80px;
      line-height: 96px;
    }
  }

  &__sub-title {
    margin-bottom: 16px;
    color: var(--black, #212121);
    font-family: 'Bebas Neue';
    font-size: 32px;
    line-height: 30px;

    @media screen and (min-width: 900px) {
      margin-bottom: 24px;
      text-align: center;
      font-size: 40px;
      line-height: 48px;
    }
  }

  &__text {
    color: var(--black, #212121);
    line-height: 24px;

    @media screen and (min-width: 900px) {
      max-width: 920px;
      margin: 0 auto;
      text-align: center;
      font-size: 24px;
      line-height: 32px;
    }

    span {
      font-weight: 700;
    }
  }

  .review {
    display: flex;
    gap: 12px;
    padding-top: 32px;

    .left {
      width: 120px;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        width: 48px;
        height: 48px;
        top: -32px;
        right: -16px;
        background-image: url('./images/svg/scrip.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }

      img {
        width: 100%;
        position: relative;
      }
    }

    .right {
      flex: 1;
    }

    &__text {
      margin-bottom: 16px;
      color: var(--black, #212121);
      line-height: 24px;
    }

    &__details {
      display: flex;
      justify-content: space-between;
    }

    &_stars {
      width: 80px;
    }

    &__author {
      color: var(--black, #212121);
      line-height: 24px;
    }
  }

  .swiper {
    margin-bottom: 32px;
  }

  .swiper-wrapper {
    @media screen and (min-width: 900px) {
      margin-bottom: 50px;
    }
  }

  .slider__buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 24px;

    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  .swiper-btn {
    width: 36px;
    height: 36px;
    stroke-width: 1px;
    stroke: var(--white, #fffcf9);
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
    transition: all 0.3s linear;

    img {
      width: 100%;
      height: 100%;
    }

    &:hover {
      background-color: grey;
    }
  }
  .swiper-review-prev {
    transform: rotate(180deg);
  }
  .swiper-review-next {
  }
}
