.info {
  position: relative;

  &__bg {
    height: 100%;
    background-image: url('./images/bg/couple-tel.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    z-index: -1;
    width: 100%;

    @media screen and (min-width: 900px) {
      background-image: url('./images/bg/couple-desc.png');
    }
  }

  &__wrapper {
    padding: 40px 16px;
    position: relative;
    z-index: 3;

    @media screen and (min-width: 900px) {
      padding: 56px 80px;
      display: flex;
      gap: 50px;
      justify-content: space-between;
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  &__made {
    margin-bottom: 24px;

    .made__img {
      width: 172px;
      height: 172px;
      margin-bottom: 24px;
    }
    .made__tm {
      margin-bottom: 4px;
      color: var(--bordo, #8b1c00);

      /* H4 */
      font-family: 'Bebas Neue';
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 48px; /* 120% */
    }
    .made__text {
      color: var(--black, #212121);
      font-family: 'Roboto Condensed';
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 140% */
      @media screen and (min-width: 900px) {
        max-width: 310px;
      }
    }
  }

  &__proposal {
    margin-bottom: 28px;
    position: relative;

    @media screen and (min-width: 900px) {
      display: flex;
      gap: 100px;
    }
  }

  .proposal__text {
    color: var(--black, #212121);
    font-family: 'Roboto Condensed';
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }

  .proposal__title {
    color: var(--bordo, #8b1c00);
    font-family: 'Bebas Neue';
    font-size: 40px;
    line-height: 48px;
    text-wrap: wrap;
    width: min-content;

    @media screen and (min-width: 900px) {
      text-wrap: nowrap;
    }
  }

  .proposal__description {
    color: var(--black, #212121);
    font-family: 'Bebas Neue';
    font-size: 32px;
    line-height: 40px;
  }
  .proposal__info {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 8px;
    min-height: 240px;
  }

  .proposal__img {
    height: 212px;
    position: absolute;

    @media screen and (min-width: 900px) {
      display: none;
    }

    &--desc {
      display: none;
      width: 214px;
      height: 366px;

      @media screen and (min-width: 900px) {
        display: block;
      }
    }
  }
  .proposal__img--desc1 {
    scale: 0.9;
  }
  .proposal__img--desc2 {
    position: absolute;
    left: 90px;
  }
  .proposal__img--1 {
    top: 0;
    right: 42px;
  }

  .proposal__img--2 {
    bottom: 0;
    right: 0;
  }

  .inf__more-info {
    margin-top: 24px;
    margin-bottom: 16px;
    @media screen and (min-width: 900px) {
      margin-top: 131px;
    }
  }

  .more__title {
    color: var(--bordo, #8b1c00);
    font-family: 'Bebas Neue';
    font-size: 40px;
    line-height: 48px;

    @media screen and (min-width: 900px) {
      font-size: 80px;
      line-height: 96px;
    }
  }

  .more__description {
    margin-bottom: 20px;
    color: var(--black, #212121);
    font-family: 'Bebas Neue';
    font-size: 32px;
    line-height: 40px;

    @media screen and (min-width: 900px) {
      font-size: 40px;
      line-height: 48px;
    }
  }
  .more__text {
    color: var(--white, #fffcf9);
    font-family: 'Roboto Condensed';
    font-size: 16px;
    line-height: 24px;

    @media screen and (min-width: 900px) {
      color: var(--black, #212121);
      font-size: 20px;
      line-height: 28px;
    }
  }

  .more__right {
    @media screen and (min-width: 900px) {
      max-width: 528px;
    }
  }

  .medical__text {
    padding: 8px 16px;
    margin-bottom: 16px;
    border-radius: 3px;
    background: var(--bordo, #8b1c00);
    text-align: center;
    @media screen and (min-width: 900px) {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .medical__info {
    color: var(--white, #fffcf9);
    font-family: 'Roboto Condensed';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;

    @media screen and (min-width: 900px) {
      color: var(--black, #212121);
      font-size: 20px;
      line-height: 28px;
    }
  }

  &__string {
    width: calc(100% + 32px);
    left: -16px;

    @media screen and (min-width: 900px) {
      display: none;
    }
  }
}
