.protected {
  position: relative;
  color: var(--black, #212121);

  &__wrapper {
    position: relative;
    z-index: 3;
    padding: 40px 16px;

    @media screen and (min-width: 900px) {
      padding: 96px 80px;
      max-width: 1440px;
      margin: 0 auto;
    }
  }

  &__top {
    @media screen and (min-width: 900px) {
      max-width: 920px;
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: 8px;
    font-family: 'Bebas Neue';
    font-size: 40px;
    line-height: 48px;

    @media screen and (min-width: 900px) {
      margin-bottom: 16px;
      text-align: center;
      font-size: 80px;
      line-height: 96px;
    }
  }

  &__sub-title {
    margin-bottom: 12px;
    font-family: 'Bebas Neue';
    font-size: 32px;
    line-height: 40px;

    @media screen and (min-width: 900px) {
      margin-bottom: 24px;
      text-align: center;
      font-size: 40px;
      line-height: 38px;
    }
  }

  &__text {
    line-height: 24px;

    @media screen and (min-width: 900px) {
      text-align: center;
      font-size: 24px;
      line-height: 32px;
    }
  }

  &__img-container {
    display: flex;
    justify-content: center;
    margin: 40px auto;
  }

  .btn-rush {
  }

  .table__btn {
  }

  &__message {
    margin-top: 12px;
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 20px;
    line-height: 32px;
  }
}
