.faq {
  position: relative;

  .faq__wrapper {
    position: relative;
    z-index: 3;
    padding: 40px 16px 52px;

    @media screen and (min-width: 900px) {
      max-width: 1440px;
      margin: 0 auto;
      padding: 96px 80px;
    }
  }

  .faq__title {
    margin-bottom: 32px;
    color: var(--bordo, #8b1c00);
    text-align: center;
    font-family: 'Bebas Neue';
    font-size: 40px;
    line-height: 48px;

    @media screen and (min-width: 900px) {
      margin-bottom: 40px;
      font-size: 80px;
      line-height: 96px;
    }
  }

  .faq__questions {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .faq__question {
    padding: 16px;
    border-radius: 13px;
    background: var(--black, #212121);
    // display: flex;
    // flex-direction: column;
    // gap: 16px;
  }

  .faq__top {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    // margin-bottom: 16px;

    svg {
      cursor: pointer;
    }
  }

  .faq__text {
    color: var(--white, #fffcf9);
    font-family: 'Bebas Neue';
    font-size: 20px;
    line-height: 32px;
  }

  .faq__answer {
    max-height: 0;
    overflow: hidden;
    color: var(--white, #fffcf9);
    font-family: 'Roboto Condensed';
    line-height: 24px;
  }

  .faq__question.active .faq__answer {
    max-height: 300px;
    margin-top: 16px;
  }

  .plus {
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  .faq__question.active .plus {
    opacity: 0;
  }
}
